.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon {
  margin: 0.5rem;
  padding: 1rem;
  background-color: #42d0b0;
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.pokemon .name {
  color: #fff;
  margin: 0.25rem 0;
}
.pokemon .details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pokemon .details img {
  max-width: 100%;
  height: 70px;
}
.pokemons .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}
.pokemon .details .types {
  padding: 0;
  margin: 0;
  list-style: none;
}
.pokemon .details .type {
  background-color: #61e1ca;
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
